<p id="notice"><%= notice %></p>

<h1> - Zombies Members - </h1>
  <H3><%= link_to 'New Zombie', new_zombie_path %></H3>

    <div class="row">
    
      <% @zombies.each do |zombie| %>
      <div class="card" style="width: 18rem;">    
              <%= image_tag zombie.photo, alt:"Zombie Picture", class:'img-responsive img-thumbnail' %>
              <H5>Kill  <%= zombie.killed %></H5>
              <H5>Name  <%= zombie.name %></H5>
              <H5>Healt <%= zombie.health %></H5>
              <div class="container"> 
                  <a class="btn btn-primary" <%= link_to 'Show', zombie %>>
                  <a class="btn btn-secondary" <%= link_to 'Edit', edit_zombie_path(zombie) %>>
                  <a class="btn btn-danger" <%= link_to 'Destroy', zombie, method: :delete, data: {confirm: 'Are you sure?' } %>>
              </div>
      </div> 
    <% end %>

    </div>
    
        
    


